<h2>Por País</h2>
<hr>
<div class="row">
    <div class="col">
    <app-pais-input
        (onEnter)="buscar($event)"
        (onDebounce)="sugerencias($event)"
        placeholder="Buscar país"
    ></app-pais-input>
    <ul class="list-group">
        <li 
        *ngFor="let pais of paisesSugerido"
        class="list-group-item list-group-item-action">
            <a [routerLink]="['/pais', pais.alpha2Code]">
                {{pais.name}}
            </a>
        </li>
    </ul>
    </div>


    <hr>

    <div *ngIf="hayError"
    class="aler alert-danger">No se encontro nada con {{termino}}</div>

    <div *ngIf="!hayError" class="row">
        <div class="col">
           <app-pais-tabla [paises]="paises"></app-pais-tabla> 
        </div>
    </div>
</div>